In [2]:
s='Nish'

In [3]:
s+str(1)

'Nish1'

In [4]:
s*3

'NishNishNish'

In [7]:
[1,2,3,s]*3

[1, 2, 3, 'Nish', 1, 2, 3, 'Nish', 1, 2, 3, 'Nish']

In [6]:
2*3

6

In [12]:
s1='My name is %data% scientist'
s1.split('%')

['My name is ', 'data', ' scientist']

In [13]:
s1.partition('%')

('My name is ', '%', 'data% scientist')

In [16]:
s2='sdfghffagahajjshdgfjkglllljlkhsfdhfhfhhfd'

In [19]:
s2.find('a')

7

In [23]:
s2.center(89,":")

'::::::::::::::::::::::::sdfghffagahajjshdgfjkglllljlkhsfdhfhfhhfd::::::::::::::::::::::::'

In [24]:
s3='his\thomeisin\tAustria'

In [25]:
s3.expandtabs()

'his     homeisin        Austria'

In [30]:
"his hometown is {} in {}".format('Mangalore',"NAN")

'his hometown is Mangalore in NAN'

In [32]:
i=input('Insert place of birth')
j=input('State')
"his hometown is {} in {}".format(i,j)

Insert place of birthShimla
StateUK

'his hometown is Shimla in UK'

In [34]:
s4='hello'
s4.isalnum()

True

In [35]:
s4.isalpha()

True

In [37]:
s4.islower()

True

In [38]:
s4.istitle()

False

In [41]:
s4.endswith('S')

False

In [42]:
len(s)

4

In [47]:
a=[213,'afg','422q542']
b=[60700,70000000,70999]
c=a+b*2

In [49]:
c+["sss"]

[213, 'afg', '422q542', 60700, 70000000, 70999, 60700, 70000000, 70999, 'sss']

In [50]:
c+list("sss")

[213,
 'afg',
 '422q542',
 60700,
 70000000,
 70999,
 60700,
 70000000,
 70999,
 's',
 's',
 's']

In [51]:
list(34)

TypeError: 'int' object is not iterable

In [52]:
list([34])

[34]

In [53]:
c

[213, 'afg', '422q542', 60700, 70000000, 70999, 60700, 70000000, 70999]

In [54]:
c.append('hih')

In [60]:
c

[213,
 'afg',
 '422q542',
 ['insertedtext'],
 ['insertedtext'],
 60700,
 70000000,
 70999,
 60700,
 70000000,
 70999,
 'hih']

In [58]:
c.insert(3,['insertedtext'])

In [59]:
c

[213,
 'afg',
 '422q542',
 ['insertedtext'],
 ['insertedtext'],
 60700,
 70000000,
 70999,
 60700,
 70000000,
 70999,
 'hih']

In [63]:
c.pop()

70999

In [64]:
c

[213,
 'afg',
 '422q542',
 ['insertedtext'],
 ['insertedtext'],
 60700,
 70000000,
 70999,
 60700,
 70000000]

In [65]:
c.pop(4)

['insertedtext']

In [66]:
c

[213,
 'afg',
 '422q542',
 ['insertedtext'],
 60700,
 70000000,
 70999,
 60700,
 70000000]

In [67]:
c[::-1]

[70000000,
 60700,
 70999,
 70000000,
 60700,
 ['insertedtext'],
 '422q542',
 'afg',
 213]

In [68]:
c

[213,
 'afg',
 '422q542',
 ['insertedtext'],
 60700,
 70000000,
 70999,
 60700,
 70000000]

In [69]:
c.reverse()

In [70]:
c

[70000000,
 60700,
 70999,
 70000000,
 60700,
 ['insertedtext'],
 '422q542',
 'afg',
 213]

In [71]:
c.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [72]:
s5=[12,9,3,4,0,4]

In [73]:
s5.sort()

In [74]:
s5

[0, 3, 4, 4, 9, 12]

In [87]:
s5.sort(reverse=True)

In [88]:
s5

[12, 9, 4, 4, 3, 0]

In [82]:
s6=['nis','add','eee','d122']

In [83]:
s6.sort()

In [84]:
s6

['add', 'd122', 'eee', 'nis']

In [95]:
a=[1,2,3,3,3,]
b=[665,45,3424,224]
c=[24,53,11]
d=[a,b,c]

In [98]:
d[-2][::-2]

[224, 45]

In [99]:
d

[[1, 2, 3, 3, 3], [665, 45, 3424, 224], [24, 53, 11]]

In [105]:
d[::-1]

[[24, 53, 11], [665, 45, 3424, 224], [1, 2, 3, 3, 3]]

In [106]:
m=[]
d=d[::-1]
for b in d:
    m.append(b[::-1])

In [107]:
d

[[24, 53, 11], [665, 45, 3424, 224], [1, 2, 3, 3, 3]]

In [108]:
m

[[11, 53, 24], [224, 3424, 45, 665], [3, 3, 3, 2, 1]]

In [109]:
n=[]
for i in m:
    n.append(i[2])

In [110]:
n

[24, 45, 3]

In [112]:
[i[2]-1 for i in m]

[23, 44, 2]

In [114]:
d

[[24, 53, 11], [665, 45, 3424, 224], [1, 2, 3, 3, 3]]

In [116]:
appendList=[1,2,2,3,3,5]
d.append(appendList)

In [117]:
d

[[24, 53, 11], [665, 45, 3424, 224], [1, 2, 3, 3, 3], [1, 2, 2, 3, 3, 5]]

In [118]:
d.extend(appendList)

In [119]:
d

[[24, 53, 11],
 [665, 45, 3424, 224],
 [1, 2, 3, 3, 3],
 [1, 2, 2, 3, 3, 5],
 1,
 2,
 2,
 3,
 3,
 5]

In [120]:
o=[1,2,3,[4,5,6]]

In [121]:
o.extend(appendList)

In [122]:
o

[1, 2, 3, [4, 5, 6], 1, 2, 2, 3, 3, 5]

In [126]:
o.index(1)

0

TUPLE-IMMUTABLE ENTITY

In [127]:
o.remove(2)

In [128]:
o

[1, 3, [4, 5, 6], 1, 2, 2, 3, 3, 5]

In [129]:
o.remove(5)

In [130]:
o

[1, 3, [4, 5, 6], 1, 2, 2, 3, 3]

In [131]:
o.remove(4)

ValueError: list.remove(x): x not in list

In [132]:
for i in o:
    if i==2:
        o.remove(i)

In [133]:
o

[1, 3, [4, 5, 6], 1, 2, 3, 3]

In [142]:
[i*9 for i in [i for i in [3,4,5,6] for i in [0,1,2,3]]]

[0, 9, 18, 27, 0, 9, 18, 27, 0, 9, 18, 27, 0, 9, 18, 27]