In [1]:
t=(1,2,3,4,5)

In [3]:
for i in t:
    print(t)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [9]:
for i in range(len(t)):
    print(t[i])

1
2
3
4
5

In [10]:
l=['a','b','c','d','e']

In [14]:
for j in l:
    print(j)

a
b
c
d
e

In [15]:
r=('a','b','c','d','e')

In [19]:
for m in r:
    print(m)

a
b
c
d
e

In [20]:
r.index('c')

2

In [21]:
s=(3,4,5)

In [22]:
r.append(s)

AttributeError: 'tuple' object has no attribute 'append'

In [24]:
r+s

('a', 'b', 'c', 'd', 'e', 3, 4, 5)

In [25]:
r.insert('fg',5)

AttributeError: 'tuple' object has no attribute 'insert'

In [27]:
set1=set([1,2,34,55,5,5,1,2,2,3,3,4,4,5,6])

In [28]:
set1

{1, 2, 3, 4, 5, 6, 34, 55}

In [29]:
len(set1)

8

In [30]:
set1[0]

TypeError: 'set' object is not subscriptable

In [31]:
for i in set1:
    print(i)

1
2
34
3
5
4
6
55

In [32]:
set1[::-1]

TypeError: 'set' object is not subscriptable

In [48]:
set2=set((99,100,1,2,3,4,5,6,2,2,3,4,5,))

In [49]:
set2

{1, 2, 3, 4, 5, 6, 99, 100}

In [35]:
list(set2)[::-1]

[6, 5, 4, 3, 2, 1]

In [36]:
b={}

In [37]:
type(b)

dict

In [40]:
b1={4,2,3,4}

In [41]:
type(b1)

set

In [42]:
b1.add("Nish")

In [43]:
b1

{2, 3, 4, 'Nish'}

In [44]:
b1.pop()

2

In [45]:
b1

{3, 4, 'Nish'}

In [46]:
b1.pop(2)

TypeError: pop() takes no arguments (1 given)

In [47]:
b1

{3, 4, 'Nish'}

In [50]:
{3, 4, 'Nish',[12,2]}

TypeError: unhashable type: 'list'

In [54]:
{3, 4, 'Nish',2441412,2675867826578,"##","hug","hug"}

{'##', 2441412, 2675867826578, 3, 4, 'Nish', 'hug'}

In [55]:
d={}

In [56]:
type(d)

dict

In [65]:
d={'name':'Nishtha','age':24,'name':'gsh'}

In [66]:
d

{'name': 'gsh', 'age': 24}

In [67]:
d1={'name':'Nishtha','age':24,'sub':[1,2,3]}

In [68]:
d1

{'name': 'Nishtha', 'age': 24, 'sub': [1, 2, 3]}

In [69]:
d1={'name':'Nishtha','age':24,[1,2,3]:'hey'}

TypeError: unhashable type: 'list'

In [85]:
d1={'name':'Nishtha','age':24,'key1':[1,2,[2,3,4],3],'key2':{'hey','gg'},'key3':(1,2,4,4),'key4':{'a':1,'b':2}}

In [72]:
d1[0]

KeyError: 0

In [80]:
d1['key1'][2][2]

4

In [86]:
d1['key3']

(1, 2, 4, 4)

In [87]:
d1['key4']['b']

2

In [88]:
for i in d1:
    print(i)

name
age
key1
key2
key3
key4

In [89]:
for i in d1:
    print(d1[i])

Nishtha
24
[1, 2, [2, 3, 4], 3]
{'hey', 'gg'}
(1, 2, 4, 4)
{'a': 1, 'b': 2}

In [90]:
d1.keys()

dict_keys(['name', 'age', 'key1', 'key2', 'key3', 'key4'])

In [91]:
d1.values()

dict_values(['Nishtha', 24, [1, 2, [2, 3, 4], 3], {'hey', 'gg'}, (1, 2, 4, 4), {'a': 1, 'b': 2}])

In [96]:
for i in d1.values():
    if type(i)==tuple:
        print(i)

(1, 2, 4, 4)

In [97]:
m=[]
for i in d1.values():
    if type(i)==tuple:
        for j in i:
            m.append(j)

In [98]:
m

[1, 2, 4, 4]

In [99]:
d1['newkey']='this is new key'

In [100]:
d1

{'name': 'Nishtha',
 'age': 24,
 'key1': [1, 2, [2, 3, 4], 3],
 'key2': {'gg', 'hey'},
 'key3': (1, 2, 4, 4),
 'key4': {'a': 1, 'b': 2},
 'newkey': 'this is new key'}

In [101]:
d1['newkey']='this is replaced key'

In [102]:
d1

{'name': 'Nishtha',
 'age': 24,
 'key1': [1, 2, [2, 3, 4], 3],
 'key2': {'gg', 'hey'},
 'key3': (1, 2, 4, 4),
 'key4': {'a': 1, 'b': 2},
 'newkey': 'this is replaced key'}

In [106]:
dic={}
for i in range(10):
    dic[i]=i**2

In [107]:
dic

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [108]:
d={}
l=['absf','hfjgh','GAFH']
for i in l:
    d[i]=i.upper()

In [109]:
d

{'absf': 'ABSF', 'hfjgh': 'HFJGH', 'GAFH': 'GAFH'}

In [110]:
range(0,10)

range(0, 10)

In [111]:
def est(a,b):
    return a+b

In [112]:
est(3,4)

7

In [137]:
def test(a,b):
    return a+b,a*2

In [139]:
x,y=test(1,2)

In [120]:
x

3

In [121]:
y

2

In [140]:
x,y=test('hun','dai')

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [123]:
x

'hundai'

In [124]:
y

'hunhun'

In [125]:
a,b,c,d=1,2,4,'jf'

In [126]:
d

'jf'

In [127]:
c

4

In [128]:
t,_,_=test('wash','basin')

In [129]:
t

'washbasin'

In [130]:
_

'washwash'

In [131]:
def test1(a,b='nish'):
    return a+b

In [133]:
test1('xyg')

'xygnish'

In [134]:
test1('s','f')

'sf'

In [135]:
test1('s',input())

class1

'sclass1'

In [136]:
range(10)

range(0, 10)

In [141]:
def t(a,s):
    return a,s,a+s

In [146]:
x,_,_=t(1,2)

In [148]:
x

1

In [149]:
_

3

In [150]:
_

3